[Unit]
Description=Test OreSat CFC process for MDC imager veiwer.

[Service]
Type=forking
PIDFile=/run/oresat-test-cfc.pid
ExecStart=/usr/bin/oresat-test-cfc -d
User=root
Group=root

[Install]
WantedBy=multi-user.target
